.grayscale {
    width: 345px;
    height: 250px;
    filter: grayscale(100%);
}
#chatContainer {
    max-width: 700px;
    margin: auto;
    text-align: center;
}
#messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: left;
}
.message {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.message:last-child {
    border-bottom: none;
}